<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/users">L<span><i class="bi bi-github"></i></span><span><i class="bi bi-github"></i></span>K-Up Git</a>
    <form class="d-flex">
      <a class="navbar-brand" routerLink="users">Home</a>
      <input class="form-control" placeholder="Search by reponame" aria-describedby="button-addon2"
        [(ngModel)]="reponame" name="reponame" type="search" placeholder="Search for Repositories" aria-label="Search">
      <button class="btn btn-outline-secondary" type="submit" routerLink="repositories" (click)="findRepos()"><i
          class="bi bi-search"></i></button>
    </form>
    <form>
      <input class="form-control" placeholder="Search by username" aria-describedby="button-addon2"
        [(ngModel)]="username" name="username" type="search" placeholder="Search for Users" aria-label="Search">
      <button class="btn btn-outline-secondary" type="submit" routerLink="users" (click)="findProfile()"
        type="submit"><i class="bi bi-search"></i></button>
    </form>
  </div>
</nav>
<div class="container-fluid">
  <div>
    <div class="card shadow p-3 mb-5 bg-white rounded card quote-card" style="width: 18rem;">
      <div class="cardbody">
        <div>
          <img src={{user.avatar_url}} class="myprofile" alt="...">
        </div>
        <div class="media-body">
          <div>
            <div label="User Info">
              <div class="tabcontent userInfo">
                <p *ngIf="user.name"><span>Name:</span>&nbsp;&nbsp;{{user.name}}</p>
                <p *ngIf="user.login"><span>Username:</span>&nbsp;&nbsp;{{user.login}}</p>
                <p><span>Followers:</span>&nbsp;&nbsp;{{user.followers}}</p>
                <p><span>Following:</span>&nbsp;&nbsp;{{user.following}}</p>
                <p *ngIf="user.public_repos"><span>Number of public
                    repositories:</span>&nbsp;&nbsp;{{user.public_repos}}
                </p>
                <p *ngIf="user.bio"><span>Bio:</span>&nbsp;&nbsp;{{user.bio}}</p>
                <!-- <p *ngIf="user.created_at"><span>Created
                                        on:</span>&nbsp;&nbsp;{{user.created_at|date}}&nbsp;({{user.created_at|daysAgo}}) days(s) ago</p> -->
                <p *ngIf="user.email"><span>Email:</span>&nbsp;&nbsp;{{user.email}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
