<ng-progress></ng-progress>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/users">L<span><i class="bi bi-github"></i></span><span><i
          class="bi bi-github"></i></span>K-Up Git</a>
    <form class="d-flex">
      <a class="navbar-brand" routerLink="/users">Home</a>
      <input class="form-control" placeholder="Search by reponame" aria-describedby="button-addon2"
       name="reponame" type="search" placeholder="Search for Repositories" aria-label="Search">
      <button class="btn btn-outline-secondary" type="submit" routerLink="/repositories"><i
          class="bi bi-search"></i></button>
    </form>
    <form class="d-flex">
      <input class="form-control" placeholder="Search by username" aria-describedby="button-addon2"
        name="username" type="search" placeholder="Search for Users" aria-label="Search">
      <button class="btn btn-outline-secondary" routerLink='/users' type="submit" type="submit"><i
          class="bi bi-search"></i></button>
    </form>
  </div>
</nav>
<div>
  <img src="./assets/1.jpg" alt="error image">
</div>
